@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg text-gray-200 dark:bg-light-bg dark:text-light-text;
  font-family: 'Sansita', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-neon-purple font-bold dark:text-neon-purple;
  font-family: 'Sansita', sans-serif;
}

a:hover, button:hover {
  @apply text-neon-purple-light dark:text-neon-purple-light transition-colors duration-300;
}

.container {
  @apply px-4 sm:px-6 md:px-8 max-w-7xl;
}